/*
    This style sheet manages the layout and style for all controls inside the
    GLGL JavaFX application. Note that the stylesheet has been setup such that
    all colors in use are declared first as swatch colors inside the root 
    and so one can change the color theme used by the app simply by changing
    these colors.

    Note that Material Design icons are being employed for all icon buttons
    in this application, both for the Desktop Java Framework's top toolbar
    as well as for icon buttons in the M3's edit toolbar. Note that this
    app uses icons from https://material.io/icons/ and icon image sizes in
    use are as follows:
        djf top toolbar buttons: 36x36
        

    @author Richard McKenna
    @version 1.0
*/
.root{
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    -swatch-neutral:        #ff6666; 
    -swatch-primary-up:     #ff7777;
    -swatch-primary:        #ff6666;
    -swatch-primary-down:   whitesmoke;
    -swatch-complement:     #ff6666;
    -swatch-accent:         whitesmoke;
    -swatch-bright-accent:  #AF0810;

    -fx-font-family: "Roboto";
}
/** 
    FIRST WE HAVE THE CONTROLS THAT THE DESKTOP JAVA FRAMEWORK
    MAY BE MAKING USE OF:
        .djf_top_toolbar: toolbar running the length of the top
        .djf_top_toolbar_pane: a pane in the top toolbar with buttons
        .djf_icon_button: buttons in the top toolbar panes
**/
.djf_top_toolbar {
    -fx-background-color:   -swatch-neutral;
    -fx-border-color:       -swatch-accent;
    -fx-border-width:       2;
    -fx-border-radius:      15;
}
.djf_toolbar_pane {
    -fx-background-color:   -swatch-complement;
    -fx-border-color:       -swatch-accent;
    -fx-border-width:       2;
    -fx-border-radius:      15;
}
.djf_icon_button {
    -fx-background-color:   transparent;
    -fx-pref-height:        42;
    -fx-pref-width:         42;
    -fx-min-height:         42;
    -fx-min-width:          42;
    -fx-padding:            0;
}
.djf_icon_button:hover {
    -fx-background-color: linear-gradient(-swatch-primary-down, -swatch-primary-up);    
}
.djf_icon_button:pressed {
    -fx-background-color: linear-gradient(#ff4444, -swatch-primary-down);    
}
.djf_welcome_banner {
    -fx-border-color:transparent;
    -fx-border-width:10;

}
.djf_welcome_header {
    -fx-font-size: 32pt;
    -fx-background-color: transparent;
}
.djf_welcome_recent_pane {
    -fx-padding: 20 20 20 20;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button {
    -fx-font-size: 14pt;
    -fx-underline: true;
    -fx-text-fill: blue;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button:hover {
    -fx-text-fill: magenta;
}
.djf_welcome_recent_button:pressed {
    -fx-text-fill: yellow;
}
.djf_welcome_new_pane {
    -fx-background-color:transparent;
    -fx-border-color:white;
}
.djf_welcome_new_button {
    -fx-font-size:20pt;
    -fx-background-color:transparent;
    -fx-border-width:2px;
    -fx-border-color:black;
}
.djf_welcome_new_button:hover{
    -fx-background-color: linear-gradient(-swatch-primary-down, -swatch-primary-up);    
}
.djf-welcome_new_button:pressed{
    -fx-background-color: linear-gradient(-swatch-primary-up, -swatch-primary-down);    
}

/**
    NEXT THE APP-SPECIFIC CONTROLS
**/
.glgl_text_button, .glgl_icon_button {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
}
.glgl_text_button:pressed, .glgl_icon_button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );    
    -fx-background-color:
        linear-gradient(whitesmoke, white),
        radial-gradient(center 50% -40%, radius 200%, #bccbf1 90%, whitesmoke 10%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}
.glgl_text_button:hover, .glgl_icon_button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );    
}
.glgl_text_button{
    -fx-max-width:130px;
    -fx-min-height:50px;
    -fx-max-height:50px;
}
.glgl_slider{
    -fx-background-color: rgb(201, 224, 205);
    -fx-border: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, transparent, 10, 0, 0, 0);
    -fx-max-width:500px
}
.glgl_combo_box{
    -fx-max-width:500px; 
}
.glgl_checkbox{
    -fx-max-width:130px;
    -fx-min-height:50px;
    -fx-max-height:50px;
}
.glgl_color_picker {
    -fx-background-color: rgb(201, 224, 205);
    -fx-border: 0 0 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 3 3 3 3;
    -fx-effect: dropshadow(three-pass-box, whitesmoke, 10, 0, 0, 0);
    -fx-max-width:300px;
    -fx-alignment:CENTER;

}
.glgl_icon_button {
    -fx-min-width:50px;
    -fx-max-width:50px;
    -fx-min-height:50px;
    -fx-max-height:50px;
}
.glgl_pane, .glgl_box {
    -fx-background-color: #bccbf1;
    -fx-alignment:center;
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 15 15 15 15;
    -fx-effect: dropshadow(three-pass-box, whitesmoke, 10, 0, 0, 0);
    -fx-max-width:300px;

}
.glgl_toolbar {
    -fx-background-color: rgb(201, 224, 205);
    -fx-border: 0 0 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, whitesmoke, 10, 0, 0, 0);
    -fx-max-width:300px;
    -fx-alignment:CENTER;

}
.glgl_pane {
    -fx-spacing: 3 3 3 3;
}
.glgl_big_header, .glgl_small_header, .glgl_prompt, .glgl_text_field {
    -fx-font-weight: bold;
    -fx-padding: 10 10 10 10;
}
.glgl_big_header {
    -fx-font-size: 18pt;
    -fx-alignment:CENTER;
}
.glgl_small_header {
    -fx-font-size: 16pt;
}

.glgl_label {
    -fx-font-size: 14pt;
    -fx-padding: 0 0 0 0 ;
}
.glgl_prompt {
    -fx-font-size: 14pt;
    -fx-min-width: 130px;
    -fx-max-width: 130px;
}
.glgl_text_field {
    -fx-font-size: 14pt;
    -fx-min-width: 250px;
    -fx-max-width: 250px;
}
.glgl_table {
    -fx-font-size: 14pt;
    -fx-fixed-cell-size:200;
    -fx-pref-height: 700px; 
    -fx-min-height:500px;
    -fx-min-width: 450px;
    -fx-max-width: 450px;

}

.column-header {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}
.table-row-cell:empty {
    -fx-background-color: #777777;
    -fx-border-color: #777777;
} 
.table-column-cell{
    -fx-fixed-cell-size:1;
}












/* FOR DIALOGS */
.glgl_dialog_grid {
    -fx-background-color: -swatch-neutral;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}
.glgl_dialog_header {
    -fx-font-weight: bold;
    -fx-font-size: 18pt
}
.glgl_dialog_prompt {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}
.glgl_dialog_text_field{
    -fx-min-width:350px;
    -fx-max-width:350px;
    -fx-min-height:50px;
    -fx-max-height:50px;
    -fx-font-weight:bold;
    -fx-font-size:12pt;
}
.glgl_dialog_button {
    -fx-min-width:100px;
    -fx-max-width:100px;
    -fx-min-height:50px;
    -fx-max-height:50px;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}
.tooltip {
    -fx-font-size:14pt;
    -fx-font-weight:bold;
    -fx-background-radius: 50 50 50 50;
    -fx-background-color:-swatch-bright-accent;
}
